FLATNOTES_AUTH_TYPE={{ flatnotes_auth_type }}
{% if flatnotes_username %}
FLATNOTES_USERNAME={{ flatnotes_username }}
{% endif %}
{% if flatnotes_password %}
FLATNOTES_PASSWORD={{ flatnotes_password }}
{% endif %}
{% if flatnotes_secret_key %}
FLATNOTES_SECRET_KEY={{ flatnotes_secret_key }}
{% endif %}
{% if flatnotes_totp_key %}
FLATNOTES_TOTP_KEY={{ flatnotes_totp_key }}
{% endif %}
